@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald&display=swap')

$main-font: 'Open Sans', sans-serif
$percentage-font: 'Oswald', sans-serif

$main_text_color: #626262
$secondary_text_color: #989898
$tertiary_text_colo: #CFCFCF
$quaternary_text_color: #E5E5E5
$social_color: #F4F4F4
$footer_color: #252525

html, body
    height: 100vh